<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NITR 2015-19</title>
    <link rel="stylesheet" href="/css/browse.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/home" style="color:#00C2FF;"><h1>NITR</h1></a>
      <nav>
        <a href="#" class="hide-desktop"><img src="images/ham.svg" alt="menu button" class="menu" id="click-menu"></a>
        <ul class="show-bar hide-bar" id="nav">
          <li><a href="#" class="ext-btn" id="exit">x</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    
      <div class="browse-body" style="text-align: center;">
         
          <div class="box">
            <a href="/fresher" class="box-one"><p style="text-align: center; margin-top: 65px;">Freshers</p></a> 
            <a href="/multiethnic" class="box-one"><p style="text-align: center; margin-top: 65px;">Multi-ethnic</p></a> 
            <a href="/upload" class="box-one"><p style="text-align: center; margin-top: 65px;">Add photos</p></a> 
          </div>
          <div class="blue-container">
            <div class="container">
                <ul style="margin-left: 250px;">
                  <li style="text-align: center;">
                      <img src="browse/summer.gif" />
                      <h1>DIVIDED BY BRANCH BUT UNITED BY SUMMER</h1>
                   </li>
                 
                </ul>
                
              </div>
          </div>
          
          <div class="cover">
            <img src="/browse/firstyear.jpg" style="height: 600px; border-radius: 10px; width: 740px;"/>
        </div>
        <div >
            <img src="/browse//scroll.svg" alt="server icon" class="scroll" height="200px" style="margin-top: 30px;">
        </div>
        
        <div class="cover">
            <img src="/browse//finalyear.jpg" style="height: 600px; border-radius: 10px;"/>
        </div>
      </div>
  </body>
</html>
