<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Freshers</title>
<link rel="stylesheet" href="/public/css/freshers.css">

</head>
<body>
   
<div class="slideshow-container" style="margin-top: 20px;"  >

<div class="mySlides fade">
  <div class="numbertext">1 / 26</div>
  <img src="/public/freshers/1.jpg" style="width:100%" height="600px">
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 26</div>
  <img src="/public/freshers/2.jpg" style="width:100%" height="600px">
  
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 26</div>
  <img src="/public/freshers/3.jpg" style="width:100%" height="600px">
 
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 26</div>
  <img src="/public/freshers/4.jpg" style="width:100%" height="600px">
</div>
<div class="mySlides fade">
  <div class="numbertext">5 / 26</div>
  <img src="/public/freshers/5.jpg" style="width:100%" height="600px">
</div>
<div class="mySlides fade">
    <div class="numbertext">6 / 26</div>
    <img src="/public/freshers/6.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">7 / 26</div>
    <img src="/public/freshers/7.jpg" style="align-content: center;" height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">8 / 26</div>
    <img src="/public/freshers/8.jpg"  height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">9 / 26</div>
    <img src="/public/freshers/9.jpg"  height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">10 / 26</div>
    <img src="/public/freshers/10.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">11 / 26</div>
    <img src="/public/freshers/11.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">12 / 26</div>
    <img src="/public/freshers/12.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">13 / 26</div>
    <img src="/public/freshers/13.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">14 / 26</div>
    <img src="/public/freshers/14.jpg"  height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">15 / 26</div>
    <img src="/public/freshers/15.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">16 / 26</div>
    <img src="/public/freshers/16.jpg"  height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">17 / 26</div>
    <img src="/public/freshers/17.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">18 / 26</div>
    <img src="/public/freshers/18.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">19 / 26</div>
    <img src="/public/freshers/19.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">20 / 26</div>
    <img src="/public/freshers/20.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">21 / 26</div>
    <img src="/public/freshers/21.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">22 / 26</div>
    <img src="/public/freshers/22.jpg" style="width:100%" height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">23 / 26</div>
    <img src="/public/freshers/23.jpg"  height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">24 / 26</div>
    <img src="/public/freshers/24.jpg"  height="600px">
  </div>
  <div class="mySlides fade" style="text-align: center;">
    <div class="numbertext">25 / 26</div>
    <img src="/public/freshers/25.jpg"  height="600px">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">26 / 26</div>
    <img src="/public/freshers/26.jpg" style="width:100%" height="600px">
  </div>
  



<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
    
</div>


<script src='/javascript/page.js'></script>

</body>
</html> 
