<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NITR 2015-19</title>
    <link rel="stylesheet" href="/static/public/css/homeMobile.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/home" style="color:#00C2FF; text-decoration: none;"><h1 class="logo">NITR</h1></a>
        
      <nav>
        <a href="#" class="hide-desktop">
          <img src="/static/public/homepage/ham.svg" alt="toggle menu" class="menu" id="menu">
      </a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop">
            <img src="/static/public/homepage/exit.svg" alt="exit menu">
        </li>
          <li><a href="/home">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
      <section>
        <img src="/static/public/homepage/bluecirclecamera.jpg" alt="home image" class="home-image">
        <h1>NITR Batch 2015-19</h1>
        <p class="sub-head">Relive these moments spent together</p>
      </section>
   </div>
      <div class="blue-container"></div>
        <div class="grey-container">
          <div class="image-container">
            <ul>
             <li>
                <figure>
                  <img src="/static/public/homepage/shirish.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Shirish Ratna</figcaption>
                  <figcaption>Bajracharya</figcaption>
                  <figcaption>(Mallu)</figcaption>
                </figure>
             </li>
             <li>
                <figure>
                  <img src="/static/public/homepage/abhay.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Abhay Rahul Malik</figcaption>
                  <figcaption>(Gulti)</figcaption>
                </figure>
             </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/rabin.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Rabin Chhetri</figcaption>
                  <figcaption>(Bhude)</figcaption>
                </figure>
            </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/boro.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Raj Kapoor Gupta</figcaption>
                  <figcaption>(Boro)</figcaption>
                  
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/rishab.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Rishav Kushwaha</figcaption>
                  <figcaption>(Kattu)</figcaption>
                  
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/sameer.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Sameer Pokharel</figcaption>
                  <figcaption>(Tiger)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/0013.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Unique Chhetri</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/suhaiv.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Suhaiv Man Singh </figcaption>
                  <figcaption>(Man Singh)</figcaption>
                </figure>
  
              </li>
              
          </ul>
          <ul>
            <li>
                <figure>
                  <img src="/static/public/homepage/jaa.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Jaa Tuladhar</figcaption>
                  <figcaption>(Bhaijaan)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/sabji.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Aashish Khatri</figcaption>
                  <figcaption>(Sabji)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/chaurasiya.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Manish Chaurasiya</figcaption>
                  <figcaption>(Chode)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/panku.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Pankaj Parajuli </figcaption>
                  <figcaption>(Panke/Syaal)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/dilip.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Dilip Shrestha</figcaption>
                  <figcaption>(Dillu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/munna.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Bimukti Subedi</figcaption>
                  <figcaption>(Munna)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/bhutle.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Ritesh Pokhrel</figcaption>
                  <figcaption>(Bhutle)</figcaption>
                </figure>
  
              </li>
             
          </ul>
          <ul>
            <li>
                <figure>
                  <img src="/static/public/homepage/harshit.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Harshit Chaudhary</figcaption>
                </figure>
  
              </li>
            <li>
                <figure>
                  <img src="/static/public/homepage/asis.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Asis Gupta</figcaption>
                  <figcaption>(Cholu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/rauniyaar.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Bibek Rauniyar</figcaption>
                  <figcaption>(Raundiyaar)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/dharma.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Dharma Ojha</figcaption>
                  <figcaption>(Dharmuji)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/narayan.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Ravi Narayan Sah</figcaption>
                  <figcaption>(Uncle)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/imran.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Sheikh Imran</figcaption>
                  <figcaption>(Hallu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/static/public/homepage/ravimishra.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Ravi Mishra</figcaption>
                  <figcaption>(Pandit)</figcaption>
                </figure>
  
              </li>
             
          </ul>
        </div>
      </div>
      
      
      <div class="container">
        <h3>Shall we begin?</h3>
        <a href="/browse" class="btn-start"> Get Started </a>
      </div>

      <footer>
        <div class="footer-container">
          <div class="container">
            
            <p>Batch of 2015-2019 <br>Made in Nepal</p>
            <ul class="footer-links">
              
            </ul>
          </div>
        </div>

      </footer>

      <script>
    
        var menu = document.getElementById('menu');
        var nav = document.getElementById('nav');
        var exit = document.getElementById('exit');

        menu.addEventListener('click', function(e) {
            nav.classList.toggle('hide-mobile');
            e.preventDefault();
        });

        exit.addEventListener('click', function(e) {
            nav.classList.add('hide-mobile');
            e.preventDefault();
        });

    </script>
  
  </body>
</html>
