<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NITR 2015-19</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/home" style="color:#00C2FF; text-decoration: none;"><h1>NITR</h1></a>
      <nav>
        <a href="#" class="hide-desktop"><img src="images/ham.svg" alt="menu button" class="menu" id="click-menu"></a>
        <ul class="show-bar hide-bar" id="nav">
          <li><a href="#" class="ext-btn" id="exit">x</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
      <section>
        <img src="/homepage/bluecirclecamera.jpg" alt="scroll icon" class="scroll" height="400px">
        <h1>NITR Batch 2015-19</h1>
        <p class="sub-head">Relive these moments spent together</p>
      </section>
   </div>
      <div class="blue-container"></div>
        <div class="grey-container">
          <div class="container">
            <ul>
             <li>
                <figure>
                  <img src="/homepage/shirish.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Shirish Ratna Bajracharya (Mallu)</figcaption>
                </figure>
             </li>
             <li>
                <figure>
                  <img src="/homepage/abhay.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Abhay Rahul Malik</figcaption>
                  <figcaption>(Gulti)</figcaption>
                </figure>
             </li>
              <li>
                <figure>
                  <img src="/homepage/rabin.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Rabin Chhetri (Bhude)</figcaption>
                </figure>
            </li>
              <li>
                <figure>
                  <img src="/homepage/boro.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Raj Kapoor Gupta</figcaption>
                  <figcaption>(Boro)</figcaption>
                  
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/sameer.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Sameer Pokharel (Tiger)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/0013.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Unique Chhetri</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/suhaiv.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Suhaiv Man Singh </figcaption>
                  <figcaption>(Man Singh)</figcaption>
                </figure>
  
              </li>
              
          </ul>
          <ul>
            <li>
                <figure>
                  <img src="/homepage/jaa.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Jaa Tuladhar (Bhaijaan)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/sabji.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Aashish Khatri</figcaption>
                  <figcaption>(Sabji)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/chaurasiya.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Manish Chaurasiya (Chode)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/panku.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Pankaj Parajuli (Panke/Syaal)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/dilip.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Dilip Shrestha</figcaption>
                  <figcaption>Dillu</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/munna.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Bimukti Subedi (Munna)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/bhutle.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Ritesh Pokhrel (Bhutle)</figcaption>
                </figure>
  
              </li>
             
          </ul>
          <ul>
            <li>
                <figure>
                  <img src="/homepage/harshit.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Harshit Chaudhary</figcaption>
                </figure>
  
              </li>
            <li>
                <figure>
                  <img src="/homepage/asis.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Asis Gupta   (Cholu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/rauniyaar.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Bibek Rauniyar (Raundiyaar)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/dharma.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Dharma Ojha (Dharmuji)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/narayan.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Ravi Narayan Sah</figcaption>
                  <figcaption>(Uncle)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/imran.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Sheikh Imran</figcaption>
                  <figcaption>(Hallu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="/homepage/ravimishra.png" height="110px" width="108px" alt="user 1">
                  <figcaption>Ravi Mishra (Pandit)</figcaption>
                </figure>
  
              </li>
             
          </ul>
        </div>

      </div>
      <div class="blue-container2">
       

    </div>
      <div class="container">
        <h3 style="margin-top: 50px;">Shall we begin?</h3>
        <a href="/browse" class="btn-start"> Get Started </a>
      </div>

      <footer>
        <div class="footer-container">
          <div class="container">
            <p>Batch of 2015-2019 <br>Made in Nepal</p>
            <ul class="footer-links">
              
            </ul>
          </div>
        </div>

      </footer>

     

  </body>
</html>
