<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NITR 2015-19</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <header>
      <h1>NITR</h1>
      <nav>
        <a href="#" class="hide-desktop"><img src="images/ham.svg" alt="menu button" class="menu" id="click-menu"></a>
        <ul class="show-bar hide-bar" id="nav">
          <li><a href="#" class="ext-btn" id="exit">x</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
      <section>
        <img src="bluecirclecamera.jpg" alt="scroll icon" class="scroll" height="400px">
        <h1>NITR Batch 2015-19</h1>
        <p class="sub-head">Relive these moments spent together</p>
        
      </section>
      </div>
      <div class="blue-container">
       

      </div>
      <div class="grey-container">
        <div class="container">
          <ul>
            <li>
              <figure>
                <img src="shirish.png" height="110px" width="108px" alt="user 1">
                <figcaption>-Shirish Ratna Bajracharya (Mallu)</figcaption>
              </figure>

            </li>
            <li>
                <figure>
                  <img src="abhay.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Abhay Rahul Malik (Gulti)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="rabin.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Rabin Chhetri (Bhude)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="boro.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Raj Kapoor Gupta (Boro)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="sameer.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Sameer Pokharel (Tiger)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="0013.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Unique Chhetri</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="suhaiv.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Suhaiv Man Singh (Man Singh)</figcaption>
                </figure>
  
              </li>
              
          </ul>
          <ul>
            <li>
                <figure>
                  <img src="jaa.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Jaa Tuladhar (Bhaijaan)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="sabji.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Aashish Khatri (Sabji)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="chaurasiya.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Manish Chaurasiya (Chode)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="panku.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Pankaj Parajuli (Panke/Syaal)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="dilip.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Dilip Shrestha</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="munna.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Bimukti Subedi (Munna)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="bhutle.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Ritesh Pokhrel (Bhutle)</figcaption>
                </figure>
  
              </li>
             
          </ul>
          <ul>
            <li>
                <figure>
                  <img src="harshit.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Harshit Chaudhary</figcaption>
                </figure>
  
              </li>
            <li>
                <figure>
                  <img src="asis.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Asis Gupta (Cholu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="rauniyaar.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Bibek Rauniyar (Raundiyaar)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="dharma.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Dharma Ojha (Dharmuji)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="narayan.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Ravi Narayan Sah (Uncle)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="imran.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Sheikh Imran (Hallu)</figcaption>
                </figure>
  
              </li>
              <li>
                <figure>
                  <img src="ravimishra.png" height="110px" width="108px" alt="user 1">
                  <figcaption>-Ravi Mishra (Pandit)</figcaption>
                </figure>
  
              </li>
             
          </ul>
        </div>

      </div>
      <div class="blue-container2">
       

    </div>
      <div class="container">
        <h3 style="margin-top: 50px;">Shall we begin?</h3>
        <a href="/browse" class="btn-start"> Get Started </a>
      </div>

      <footer>
        <div class="footer-container">
          <div class="container">
            <p>Batch of 2015-2019 <br>Made in Nepal</p>
            <ul class="footer-links">
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#"> Privacy Policy</a></li>
            </ul>
          </div>
        </div>

      </footer>

      <script>

      var menu= document.getElementById('click-menu');
      var nav= document.getElementById('nav')
      var exit=document.getElementById('exit');
      menu.addEventListener('click',function(e){
        nav.classList.toggle('hide-bar');
        // alert('clicked');
      });

      exit.addEventListener('click',function(e){
        nav.classList.toggle('hide-bar');
      })

      </script>

  </body>
</html>
