<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <title>NITR 2015-19</title>
    <link rel="stylesheet" href="browse.css">
  </head>
  <body>
    <div class="container">
      <header>
      <h1>NITR</h1>
      <nav>
        <a href="#" class="hide-desktop"><img src="images/ham.svg" alt="menu button" class="menu" id="click-menu"></a>
        <ul class="show-bar hide-bar" id="nav">
          <li><a href="#" class="ext-btn" id="exit">x</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      </header>
    </div>
        <div class="container">
          <h1>Upload your photos...</h1>
          <form action="/upload-files" enctype="multipart/form-data" method="POST">

                <div class="section">Note: Only image files are allowed.</div>
                <div class="inner-wrap" style="margin-top:20px;">
                  <label><input type="file" id="file" name="file" multiple /></label>
                  <div>
                    <input type="submit" name="Upload" value="Upload Photo" style="margin-top:20px;"/>
                  </div>
                </div>

            </div>
            
          </form>
        </div>


      



</body>
</html>