<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NITR 2015-19</title>
    <link rel="stylesheet" href="./public/css/upload.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/home" style="color:#00C2FF; text-decoration: none;"><h1 class="logo">NITR</h1></a>
        
      <nav>
        <a href="#" class="hide-desktop">
          <img src="./public/homepage/ham.svg" alt="toggle menu" class="menu" id="menu">
      </a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop">
            <img src="./public/homepage/exit.svg" alt="exit menu">
        </li>
          <li><a href="/home">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
   </div>
   <div class="container upload-body">
    <h1>Upload your photos...</h1>
    <form action="/upload-files" enctype="multipart/form-data" method="POST">

          <div class="section">Note: Only image files are allowed.</div>
          <div class="inner-wrap" style="margin-top:20px;">
            <label><input type="file" id="file" name="file" multiple class="btn-submit"/></label>
            <div>
              <input type="submit" name="Upload" value="Upload Photo" class="btn-submit" style="margin-top:20px;"/>
            </div>
          </div>

      </div>
      
    </form>
  </div>

  <script>

    var menu = document.getElementById('menu');
    var nav = document.getElementById('nav');
    var exit = document.getElementById('exit');

    menu.addEventListener('click', function(e) {
        nav.classList.toggle('hide-mobile');
        e.preventDefault();
    });

    exit.addEventListener('click', function(e) {
        nav.classList.add('hide-mobile');
        e.preventDefault();
    });

</script>





</body>
</html>