@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body{
  font-family: "Montserrat";
  margin: 0;
  color:#00C2FF;
}

.container{
  text-align: center;
  padding: 0.8em 1.2em;
}

 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p, blockquote{
  font-size: 0.9em;
  line-height: 1.6em;
}

header{
  display: flex;
  justify-content: space-between;
}

.hide-bar{
  display: none;
}

.logo{
  width: 130px;
}

.menu{
  width: 25px;
  margin-top: 45%;
}

.server-img{
  width: 40%;
  margin: 2em auto 2em 25%;
}

.sub-head{
  font-size: 1.1em;
}

.blue-container{
  width: 100%;
  background: #00C2FF;
  color: white;
  margin-top: 5%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);

}
.blue-container2{
    width: 100%;
    background: #00C2FF;
    color: white;
    margin-top: -1%;
    margin-bottom: 5%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-4deg);
  
  }

.blue-container ul{
  transform: skewY(2deg);
}


.blue-container img{
  width: 8%;
}

.blue-container  ul li p{
  padding: 1em;
}

.blue-container ul li{
  margin-bottom: 1em;
}

.blue-container ul li:nth-child(3) img{
  width: 8%;
}

.grey-container{
  margin-top: -2em;
  background: #F6F6F6;
  padding: 2em ;
}

.grey-container ul li:first-child{
  margin-bottom: 2em;
}

figcaption{
  font-weight: bold;
  color: #00C2FF;
}

.btn-start{
  background: #00CC80;
  display: block;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.5em;
  color: white;
  font-size: 1.5em;
  margin: 3% auto 7%;
  width: 200px;
  margin-top: 50px;
}

.footer-container{
  background: #3D444A;
  color: #FFF;
  border-top-right-radius: 40px;
  padding: 2em;
}
.footer-container img{
  width: 130px;
}

.footer-container p{
  font-size: 0.9em;
}

.footer-links li{
  display: inline;
}

.footer-links li a {
  text-decoration: none;
  color: #FFF;
  font-size: 0.8em;
}

nav ul{
  /* background: rgb(36,24,24); */
  position: fixed;
  width: 60%;
  right: 0;
  top: 0;
  text-align: left;
  background: rgb(36,24,24);
  display: block;
  height: 100%;
  z-index: 7;
  padding-top: 3em;

  /* display: block;
  height: 100%; */
}

nav ul li a{
  text-decoration: none;
  display: block;
  color:red;
  padding: 1em 2em;
}

nav ul li a :hover{
  background-color: blue;
}

/* .ext-btn{
  display: none;
} */

@media only screen and (min-width:650px){

  .server-img{
    width: 50%;
    /* margin: 1em auto 2em 3em;  */
  }

  .blue-container ul {
    display: flex;
  }

  .blue-container ul li:nth-child(3) img{
    margin-top: -0.5em;
    width: 5%;
  }

  .grey-container ul{
    display: flex;
    padding: 1em;
  }

  .show-bar{
    display: block;
    margin: 0 ;
  }

   .hide-desktop{
    display: none;
  }

  nav ul{
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  nav ul li{
    float: left;
  }

  .ext-btn{
    display: none;
  }
  nav ul li a{
    background-color: inherit;
    color: black;
  }

}
